In [1]:
import numpy as np 
import pandas as pd 
import gmaps 
import gmaps.datasets

crime = pd.read_csv('https://raw.githubusercontent.com/aaiken1/fin-data-analysis-python/main/data/crime-incident-reports-2018.csv')

crime.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192077559,3115,Investigate Person,INVESTIGATE PERSON,B3,468,NaN,2018-04-30 09:00:00,2018,4,Monday,9,Part Three,HAZLETON ST,42.279971,-71.095534,"(42.27997063, -71.09553354)"
1,I192077332,619,Larceny,LARCENY ALL OTHERS,E18,496,NaN,2018-03-06 08:00:00,2018,3,Tuesday,8,Part One,HYDE PARK AVE,42.269224,-71.120853,"(42.26922388, -71.12085347)"
2,I192076660,2629,Harassment,HARASSMENT,E5,662,NaN,2018-10-31 12:00:00,2018,10,Wednesday,12,Part Two,PRIMROSE ST,42.290765,-71.130211,"(42.29076521, -71.13021098)"
3,I192075386,2629,Harassment,HARASSMENT,A1,96,NaN,2018-04-09 08:43:00,2018,4,Monday,8,Part Two,ATLANTIC AVE,42.355264,-71.050988,"(42.35526402, -71.05098788)"
4,I192075335,3208,Property Lost,PROPERTY - MISSING,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,COMMONWEALTH AVE,42.353522,-71.072838,"(42.35352153, -71.07283786)"

In [2]:
Lon = np.arange(-71.21, -71, 0.0021) 
Lat = np.arange(42.189, 42.427, 0.00238) 

Crime_counts = np.zeros((100,100))

crime_2018 = crime[crime['YEAR'] == 2018]

In [3]:
for a in range(len(crime_2018)):
    for b1 in range(100):
        if Lat[b1] - 0.00105 <= crime_2018['Lat'].values[a] < Lat[b1] + 0.00105:
            for b2 in range(100): 
                if Lon[b2] - 0.00119 <= crime_2018['Long'].values[a] < Lon[b2] + 0.00119:
                    Crime_counts[b1,b2] += 1

In [4]:
longitude_values = [Lon,]*100 
latitude_values = np.repeat(Lat,100) 
Crime_counts.resize((10000,))

In [5]:
heatmap_data = {'Counts': Crime_counts, 'latitude': latitude_values, 'longitude' : np.concatenate(longitude_values)}

In [12]:
heatmap_data['Counts']

array([0., 0., 0., ..., 0., 0., 0.])

In [6]:
df = pd.DataFrame(data=heatmap_data)

In [7]:
locations = df[['latitude', 'longitude']]
weights = df['Counts']

TypeError: 'type' object is not subscriptable